* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 20px;
    background: rgb(245, 61, 105);
    background: linear-gradient(90deg, rgba(245, 61, 105, 1) 0%, rgba(110, 70, 215, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}