.headingText {
  font-weight: 300 !important;
  margin-bottom: 20px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.cont {
  padding: 64px 0 48px 0;
}
.btns {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.btnLeft {
  margin-right: 15px !important;
}
.footer2,
.footer3 {
  color: rgba(0, 0, 0, 0.6);
}
.footer3 {
  font-size: 0.65rem;
}
a {
  color: rgba(0, 0, 0, 0.6);
}
.footer {
  padding: 48px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
