.todoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

.inpField {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inpField input {
  padding: 10px;
  margin-right: 10px;
}
