.card {
    color: black !important;

    .deleteBtn {
        background-color: rgb(134, 17, 17);
        color: white;
        padding: 5px 10px;

        &:hover {
            background-color: rgb(250, 9, 9);
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardImg {
        height: 250px;
        width: 250px;
    }
}